---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Author";
const active = "author";
---

<BaseLayout pageTitle={pageTitle}>
	<article>
		<div
			class="w-full h-screen md:min-h-[92vh] flex justify-center items-center p-12"
		>
			<h1 class="text-center text-2xl">
				Yes, this page is supposed to explain who the author is, why
				this website even exists, and all that good stuff. But the
				author is, unfortunately, extremely lazy and refuses to write
				anything about himself. Try checking <a href="/memoirs"
					><u>here</u></a
				> instead.
			</h1>
		</div>
	</article>
</BaseLayout>
