---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Author";
const active = "author";
---

<BaseLayout pageTitle={pageTitle}>
	<section>
		<h1>About the author.</h1>
	</section>
</BaseLayout>
