<footer>
	<div class="bg-gray-900 text-center text-gray-400 p-6 lg:py-12">
		<p class="mb-4">
			"Preoccupied with a single leaf... you won't see the tree.
			Preoccupied with a single tree... you'll miss the entire forest."
			Vagabond (manga, 1998) chapter 35 · pages 18-19
		</p>
		<p>&copy; 2025 &lt;Saka's Journeys/&gt;</p>
	</div>
</footer>
