<header
	class="hidden min-h-[8vh] sticky top-0 md:py-4 md:px-8 md:flex justify-between items-center font-stack font-medium bg-gray-50 border-b-4 border-gray-50"
>
	<h1 class="text-xl text-gray">
		<a href="/">&lt;Saka's Journeys/&gt;</a>
	</h1>
	<div class="text-lg text-gray">
		<a class="px-2" href="/author">Author.</a>
		<a class="px-2" href="/memoirs">Memoirs.</a>
	</div>
</header>
