---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
const { pageTitle, active } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body class="bg-gray-50">
		<Header active={active} />
		<div class="container mx-auto">
			<div class="min-h-[92vh] border-3 border-black">
				<slot />
			</div>
		</div>
		<Footer />
	</body>
</html>
